<!DOCTYPE html>
<html>
<head>
    <title>Web Notes @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/superhero/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div id="sidebar">
        <div class="brand">
            <p style="padding-top:50px;">WebNotes Application </p>
            <p>Logotype</p>
        </div>

        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                
                @await Html.PartialAsync("_LoginPartial")

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><i class="fa fa-shopping-basket fa-lg"></i> Pricing <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                    <li>Free</li>
                    <li>Basic</li>
                    <li>Premium</li>
                </ul>

                <li>
                    <a href="#">
                        <i class="fa fa-newspaper-o fa-lg"></i> Blog
                    </a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="About"> 
                        <i class="fa fa-info fa-lg"></i> About us
                    </a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Contact">
                        <i class="fa fa-support fa-lg"></i> Support
                    </a>
                </li>


            </ul>
        </div>

    </div>

    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">The World</a>
                
            </div>
        </nav>
        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer" class="container">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <h4 class="text-center">&copy; 2015 The World ltd.</h4>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", false)
</body>

</html>